* {
  font-family: 'VT323', monospace;
  color: #fafafa;
  background-color: #231f20;
}

.main {
  position: absolute;
}

.main h1 {
  position:relative;
  margin: 0px;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
}

#t2 {
  top:-24px;
  transform: rotate(15deg);
  opacity: 80%;
}
#t3 {
  top:-48px;
  transform: rotate(30deg);
}
#t4 {
  top:-72px;
  transform: rotate(45deg);
}
#t5 {
  top:-96px;
  transform: rotate(60deg);
}
#t6 {
  top:-120px;
  transform: rotate(75deg);
}

.main-content{
  width: 100%;
  align-content: center;
}

@keyframes fling {
  0% {background-color: red; left:0px; top:0px;}
  10% {}
  20% {}
  30% {left:20px; top:20px;}
  40% {}
  50% {background-color: yellow;}
  60% {left:-20px; top:20px;}
  70% {}
  80% {}
  90% {left:0px; top:0px;}
  100% {background-color: red;}
}

.brick {
  height: 100px;
  width: 200px;
  position: relative;
  margin: auto;
  background-color: red;
  animation-name: fling;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
